{% extends "layout.html" %}


{% block title %}
    Early rocket development
{% endblock %}

{% block style %}
        <style>
            .boxshadow {
                width: 65%;
            }
            .sm-text {
                font-size: 16px;
            }
            @media screen and (min-width:993px){.head-img{background-image:url("https://static1.squarespace.com/static/57ed3edb37c58182f815c65f/57ed3f076a49633d10d11e12/5cae1247e79c707fbfed0f13/1554912091369/shutterstock_571916983.jpg?format=2500w");}}
            @media screen and (max-width:992px){.sm-text{font-size:14px;}.head-img{background-image:url("/static/images/history/hero-history-medium.jpg");}}
            @media screen and (max-width:600px){.head-img{height:76%;background-image:url("/static/images/history/hero-history-small.jpg");}}
        </style>
{% endblock %}

{% block head_content %}
            <div class="w3-display-bottomleft w3-center w3-margin-bottom w3-padding-large w3-hide-medium w3-hide-small">
                <span class="w3-tag">Whatever it takes</span>
            </div>
            <div class="w3-display-top w3-center w3-padding-large">
                <h1 class="w3-jumbo w3-text-white imgtext"><b>EARLY ROCKET</b></h1>
                <h1 class="w3-jumbo w3-text-white imgtext"><b>DEVELOPMENT</b></h1>
            </div>
            <div class="w3-display-bottomright w3-center w3-margin-bottom w3-padding-large tag-text">
                <span id="bigger_font" class="contour w3-text-white">The only limits on human achievement are self-imposed</span>
            </div>
{% endblock %}

{% block main %}
            <div class="w3-margin">
                <div class="w3-content w3-white my-xxcard">
                    <h2 class="w3-center dark-brown-grad w3-bottombar w3-border-orange w3-padding-32 header-text">Germany</h2>
                    <div class="w3-padding">
                        <p>
                            It was space exploration that motivated the members of the German VfR to build their rockets,
                            but in the early 1930s their work came to the attention of the German military. In 1932 Wernher von Braun,
                            at age 20, became chief engineer of a rocket-development team for the German army.
                            After Adolf Hitler came to power in 1933, Braun was named the civilian head of that team,
                            under the military command of Walter Robert Dornberger. To give Braun’s engineers the needed space
                            and secrecy for their work, the German government erected a development and test centre at Peenemünde on
                            the coast of the Baltic Sea. There they developed, among other devices, the V-2 (originally designated the A-4)
                            ballistic missile. First launched successfully in 1942, the V-2 was used on targets in
                            Europe beginning in September 1944. Although built as a weapon of war, the V-2 later served as
                            the predecessor of many of the rockets used in the early space programs of the United States and
                            the Soviet Union. As World War II neared its end in early 1945, Braun and many of
                            his associates chose to surrender to the United States, where they believed they would likely receive support
                            for their rocket research and space exploration plans. Later in the year they were taken to the United States,
                            as were their engineering plans and the parts needed to construct a number of V-2s.
                            The German rocket team played a central role in the early development of space launchers for the United States.
                        </p>
                        <div class="w3-content cool-font" style="padding:0;max-width:391px;">
                            <!-- https://cdn.britannica.com/s:700x500/09/4609-050-33F555A7/Test-launch-rocket-V-2.jpg -->
                            <img class="load-after-body" alt="Test launch of a V-2 rocket" />
                            <div class="w3-container w3-black w3-margin-bottom">
                                <p class="sm-text">Test launch of a V-2 rocket</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="w3-margin">
                <div class="w3-content w3-white my-xxcard">
                    <h2 class="w3-center dark-blue-grad w3-bottombar w3-border-amber w3-padding-32 header-text">United States</h2>
                    <div class="w3-padding">
                        <p>
                            American engineers led by graduate student Frank Malina began working on rocketry at
                            the Guggenheim Aeronautical Laboratory of the California Institute of Technology (GALCIT).
                            Malina’s group was supported by the eminent aerodynamicist Theodore von Kármán, GALCIT’s director,
                            and it included Chinese engineer Qian Xuesen (Ch’ien Hsüeh-sen), who in the 1950s returned home
                            to become one of the pioneers of rocketry in China. In 1943 Malina and his associates began calling
                            their group the Jet Propulsion Laboratory (JPL), a name that was formally adopted the following year.
                            JPL soon became a centre for missile research and development for the U.S. Army. Following World War II,
                            those weapons were adapted for use in early U.S. space experiments. After 1958, when it became part of
                            the newly established National Aeronautics and Space Administration (NASA), JPL adapted itself to being
                            the leading U.S. centre for solar system exploration.
                        </p>
                    </div>
                </div>
            </div>

            <div class="w3-margin">
                <div class="w3-content w3-white my-xxcard">
                    <h2 class="w3-center red-grad w3-bottombar w3-border-amber w3-padding-32 header-text">Soviet Union</h2>
                    <div class="w3-padding">
                        <p>
                            In the U.S.S.R. the government took an interest in rockets as early as 1921 with the
                            founding of a military facility devoted to rocket research. Over the next decade that centre was expanded
                            and renamed the Gas Dynamics Laboratory. There in the early 1930s, Valentin Glushko
                            carried out pioneering work on rocket engines. Meanwhile, other rocket enthusiasts in
                            the Soviet Union organized into societies that by 1931 had consolidated into an organization known as
                            GIRD (the abbreviation in Russian for “Group for the Study of Reactive Motion”), with branches in Moscow
                            and Leningrad. Emerging as leaders of the Moscow branch were the aeronautical engineer Sergey Korolyov,
                            who had become interested in spaceflight at a young age, and the early space visionary Fridrikh Tsander.
                            Korolyov and a colleague, Mikhail Tikhonravov, on August 17, 1933, launched the first Soviet liquid-fueled rocket.
                            Later that year the Moscow and Leningrad branches of GIRD were combined with the Gas Dynamics Laboratory to form
                            the military-controlled Rocket Propulsion Research Institute (RNII), which five years later became
                            Scientific-Research Institute 3 (NII-3). In its early years the organization did not work directly on space technology,
                            but ultimately it played a central role in Soviet rocket development.
                        </p>
                        <p>
                            Korolyov was arrested in 1937 as part of the Soviet leader Joseph Stalin’s great purges of intellectuals and
                            was sent to a Siberian prison. After Stalin recognized the imprudence of removing the best technical people
                            from the Soviet war effort, Korolyov was transferred to a prison-based design bureau,
                            where he spent most of World War II working on weapons, although not on large rockets. By the end of the war,
                            Stalin had become interested in ballistic missiles, and he sent a team, which included Korolyov,
                            on visits to Germany to investigate the V-2 program. A number of German engineers were relocated to
                            the Soviet Union in the aftermath of the war, but they did not play a central role in
                            postwar Soviet rocket development; most returned to Germany in the early 1950s.
                        </p>
                    </div>
                </div>
            </div>

            <div class="w3-margin">
                <div class="w3-content w3-white my-xxcard">
                    <h2 class="w3-center teal-grad w3-bottombar w3-border-orange w3-padding-64 header-text">Preparing for spaceflight</h2>
                    <div class="w3-padding">
                        <p>
                            Between 1946 and 1951, the U.S. Army conducted test firings of captured German V-2 rockets at White Sands,
                            New Mexico. These sounding-rocket flights reached high altitudes (120–200 km [75–125 miles])
                            before falling back to Earth. Although the primary purpose of the tests was to advance rocket technology,
                            the army invited American scientists interested in high-altitude research to put experiments aboard the V-2s.
                            An Upper Atmosphere Research Panel, chaired by the physicist James Van Allen, was formed to coordinate
                            the scientific use of these rocket launchings. The panel had a central role in the early years of
                            American space science, which focused on experiments on solar and stellar ultraviolet radiation, the aurora,
                            and the nature of the upper atmosphere. As the supply of V-2s dwindled, other U.S.-built sounding rockets such as
                            the WAC Corporal, Aerobee, and Viking were put into use. In other countries, particularly the Soviet Union,
                            rocket-based upper-atmosphere research also took place after World War II.
                        </p>
                        <div class="w3-content cool-font" style="padding:0;max-width:392px;">
                            <!-- https://cdn.britannica.com/s:700x500/76/75376-050-6CE7D5D7/Frank-Malina-steelwork-model-research-rocket-Jet.jpg -->
                            <img class="load-after-body" alt="Frank Malina and WAC Corporal rocket" />
                            <div class="w3-container w3-black">
                                <h3 class="w3-margin-top">Frank Malina and WAC Corporal rocket</h3>
                                <p class="sm-text">
                                    Frank Malina, a cofounder of the Jet Propulsion Laboratory, pictured with an early model of
                                    the WAC Corporal research rocket. The surrounding steelwork is the lower section of the vertical launch tower.
                                </p>
                            </div>
                        </div>
                        <p>
                            In the early 1950s scientists began planning a coordinated international investigation of Earth, to be called
                            the International Geophysical Year (IGY), that would be held in 1957–58 under the auspices of
                            the International Council of Scientific Unions. By this time, progress in rocket development had advanced such
                            that orbiting of an artificial Earth satellite by 1957 seemed feasible. At the urging of American scientists,
                            IGY planners in 1954 called for scientifically instrumented satellites to be launched as part of
                            IGY activities. Soon thereafter, the governments of the Soviet Union and the United States each announced plans to do so.
                        </p>
                        <p>
                            In the years following World War II, the United States and the U.S.S.R. became political and military competitors in
                            what soon was being called the Cold War. Because the Soviet Union was a closed society, U.S. leaders gave high priority
                            to developing technology that could help gather intelligence on military preparations within the Soviet borders.
                            As orbiting satellites neared realization, the idea of equipping such satellites with cameras and flying them
                            over Soviet territory became more attractive to U.S. planners, and the U.S. Air Force began
                            work on a reconnaissance satellite project. Still unresolved, however, was the question of whether it would violate
                            national sovereignty to fly over a country’s territory in orbit, above most of the atmosphere. One reason
                            the U.S. government had committed itself to the IGY satellite program was that it wanted to establish the principle
                            that outer space was not subject to claims of territorial sovereignty and thus that
                            an orbiting satellite could pass freely over any point on Earth. Such overflights were essential
                            if reconnaissance satellites were to have intelligence value.
                        </p>
                        <p>
                            As scientific and military planners contemplated initial space projects and engineers worked on developing
                            the needed launch vehicles, the idea that humans would soon begin the exploration of space entered popular imagination.
                            In Europe since the 1930s, the British Interplanetary Society had been actively promoting the idea
                            that human space travel was soon to happen. American movies such as The Day the Earth Stood Still (1950),
                            Destination Moon (1950), and When Worlds Collide (1951) contained vivid images of such journeys.
                            Reports were widespread of sightings of unidentified flying objects (UFOs),
                            which were thought by some to be spacecraft from alien worlds.
                        </p>
                        <p>
                            Authors such as Isaac Asimov, Robert A. Heinlein, and Arthur C. Clarke both discussed the reality of space technology
                            in popular writings and constructed believable science-fiction stories based on its use.
                            A central figure in popularization efforts within the United States was Wernher von Braun. A charismatic spokesman for
                            the idea of space travel, Braun, in a series of talks, books, magazine articles, and television appearances during the 1950s,
                            reached millions of people with his ideas for establishing orbiting space stations and human travel to the Moon and Mars.
                            The efforts of Braun and other popularizers helped create a receptive climate for initial government proposals
                            to undertake space activities and, particularly, to put humans in space.
                        </p>
                    </div>
                </div>
            </dvi>
{% endblock %}

{% block info %}
                <span>The source of most text information is</span>
                <a class="source" href="https://www.britannica.com/science/space-exploration/History-of-space-exploration" target="_blank">Britannica</a>
{% endblock %}

{% block scripts %}
        <script>
            // Load images after a page has loaded
            loadImgsAfterBody([
                'https://cdn.britannica.com/s:700x500/09/4609-050-33F555A7/Test-launch-rocket-V-2.jpg',
                'https://cdn.britannica.com/s:700x500/76/75376-050-6CE7D5D7/Frank-Malina-steelwork-model-research-rocket-Jet.jpg'
            ], false);
            // Make a link to the current page active
            makeActive('.early-rocket-development');
        </script>
{% endblock %}
