{% extends "layout.html" %}

{% block title %}
    Milestones
{% endblock %}

{% block style %}
        <style>
            /* Transparent bg for text */
            .fix-text {
                width: 100%;
                background-color: rgba(0,0,0,0.6);
                margin: 0 auto;
            }
            @media screen and (min-width:993px){.head-img{background-image:url("https://static1.squarespace.com/static/57ed3edb37c58182f815c65f/57ed3f076a49633d10d11e12/5cae1247e79c707fbfed0f13/1554912091369/shutterstock_571916983.jpg?format=2500w");}}
            @media screen and (min-width:601px){table th{padding:20px 10px!important;}.div-rep-from{background-image:url("https://images.wallpaperscraft.com/image/exoplanet_atmosphere_clouds_stars_moon_mist_mountains_rocks_101205_1024x768.jpg");}}
            @media screen and (max-width:992px){.head-img{background-image:url("/static/images/history/hero-history-medium.jpg");}}
            @media screen and (max-width:600px){.w3-table{table-layout:auto!important;}.head-img{height:76%;background-image:url("/static/images/history/hero-history-small.jpg");}}
            @media screen and (max-width:545px){.no-smpad{padding:0 !important;}}
        </style>
{% endblock %}

{% block head_content %}
            <div class="w3-display-bottomleft w3-center w3-margin-bottom w3-padding-large w3-hide-medium w3-hide-small">
                <span class="w3-tag">To infinity and beyond!</span>
            </div>
            <div class="w3-display-top w3-center w3-padding-large">
                <h1 class="w3-jumbo w3-text-white imgtext"><b>SIGNIFICANT MILESTONES</b></h1>
            </div>
            <div class="w3-display-bottomright w3-center w3-margin-bottom w3-padding-large tag-text">
                <span id="bigger_font" class="contour w3-text-white">Humans have both the urge to create and destroy</span>
            </div>
{% endblock %}

{% block main %}
            <div class="w3-margin">
                <div class="w3-content w3-black my-xxcard">
                    <h2 class="w3-center teal-grad w3-bottombar w3-border-deep-purple w3-padding-32 header-text mb2">Major milestones</h2>
                    <div class="w3-padding">
                        <p>
                            The first artificial Earth satellite, Sputnik 1, was launched by the Soviet Union on October 4, 1957.
                            The first human to go into space, Yuri Gagarin, was launched, again by the Soviet Union,
                            for a one-orbit journey around Earth on April 12, 1961. Within 10 years of that first human flight,
                            American astronauts walked on the surface of the Moon.
                            Apollo 11 crew members Neil Armstrong and Edwin (“Buzz”) Aldrin made the first lunar landing on July 20, 1969.
                            A total of 12 Americans on six separate Apollo missions set foot on the Moon between July 1969 and December 1972.
                            Since then, no humans have left Earth orbit, but more than 500 men and women have spent as many as 438 consecutive days in space.
                            Starting in the early 1970s, a series of Soviet (Russian from December 1991) space stations, the U.S. Skylab station,
                            and numerous space shuttle flights provided Earth-orbiting bases for varying periods of human occupancy and activity.
                            From November 2, 2000, when its first crew took up residence, to its completion in 2011,
                            the International Space Station (ISS) served as a base for humans living and working in space on a permanent basis.
                            It will continue to be used in this way until at least 2024.
                        </p>
                        <p>
                            Since 1957 Earth-orbiting satellites and robotic spacecraft journeying away from Earth have gathered valuable data about the Sun, Earth,
                            other bodies in the solar system, and the universe beyond. Robotic spacecraft have landed on the Moon, Venus, Mars, Titan, a comet,
                            and three asteroids, have visited all the major planets, and have flown by Kuiper belt objects and by the nuclei of comets, including Halley’s Comet,
                            traveling in the inner solar system. Scientists have used space-derived data to deepen human understanding of the origin
                            and evolution of galaxies, stars, planets, and other cosmological phenomena.
                        </p>
                        <p>
                            Orbiting satellites also have provided, and continue to provide, important services to the everyday life of many people on Earth.
                            Meteorologic satellites deliver information on short- and long-term weather patterns and their underlying causes. Other Earth-observation satellites
                            remotely sense land and ocean areas, gathering data that improve management of Earth’s resources and that help in understanding global climate change.
                            Telecommunications satellites allow essentially instantaneous transfer of voice, images, and data on a global basis. Satellites operated by
                            the United States, Russia, China, Japan, India, and Europe give precision navigation, positioning, and timing information that has become essential
                            to many terrestrial users. Earth-observation satellites have also become extremely useful to the military authorities of several countries
                            as complements to their land, sea, and air forces and have provided important security-related information to national leaders.
                        </p>
                        <p>
                            As the many benefits of space activity have become evident, other countries have joined the Soviet Union and the United States in developing their own space programs.
                            They include a number of western European countries operating both individually and, after 1975, cooperatively through the European Space Agency,
                            as well as China, Japan, Canada, India, Israel, Iran, North Korea, South Korea, and Brazil. By the second decade of the 21st century, more than 50 countries had space agencies
                            or other government bodies carrying out space activities.
                        </p>
                    </div>
                </div>
            </div>

            <div class="w3-margin cool-font">
                <div class="w3-content" style="max-width:1400px;">
                    <div class="fix-text w3-container w3-margin-top w3-margin-bottom w3-padding w3-round">
                        <h2>"Somewhere something incredible is waiting to be known"</h3>
                        <h3>- Carl Sagan</h6>
                    </div>
                    <div class="w3-row-padding w3-stretch w3-text-white w3-large">
                        <div class="w3-col m6">
                            <div class="w3-row-padding" style="margin:0 -16px">
                                <div class="w3-col m6 w3-margin-bottom">
                                    <div class="w3-display-container">
                                        <!-- https://i.pinimg.com/736x/ec/c0/95/ecc095c0316db7f3dd9cf46b61736608.jpg -->
                                        <img class="load-after-body" alt="Yuri Gagarin" />
                                        <div class="w3-display-bottomleft w3-tag" style="border-radius:0 15px 0 0;">Yuri gagarin</div>
                                    </div>
                                </div>
                                <div class="w3-col m6 w3-margin-bottom">
                                    <div class="w3-display-container">
                                        <!-- /static/images/history/milestones-armstrong.jpg -->
                                        <img class="load-after-body" alt="Neil Armstrong" />
                                        <div class="w3-display-bottomleft w3-tag" style="border-radius:0 15px 0 0;">Neil Armstrong</div>
                                    </div>
                                </div>
                            </div>
                            <div class="w3-row-padding" style="margin:0 -16px">
                                <div class="w3-col m6 w3-margin-bottom">
                                    <div class="w3-display-container">
                                        <picture>
                                            <!-- /static/images/history/milestones-moon-small.jpg -->
                                            <source class="load-after-body" media="(max-width: 600px)">
                                            <!-- https://thumbor.forbes.com/thumbor/960x0/https%3A%2F%2Fblogs-images.forbes.com%2Fstartswithabang%2Ffiles%2F2016%2F11%2FFullMoon2010-1200x1140.jpg -->
                                            <img class="load-after-body" alt="The moon" />
                                        </picture>
                                        <div class="w3-display-bottomleft w3-tag" style="border-radius:0 15px 0 0;">The moon</div>
                                    </div>
                                </div>
                                <div class="w3-col m6 w3-margin-bottom">
                                    <div class="w3-display-container">
                                        <!-- /static/images/history/milestones-astronaut.jpg -->
                                        <img class="load-after-body" alt="The Human on the moon" />
                                        <div class="w3-display-bottomleft w3-tag" style="border-radius:0 15px 0 0;">The human</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="w3-col m6 w3-margin-bottom">
                            <div class="w3-display-container">
                                <!-- https://twistedsifter.files.wordpress.com/2012/05/nasa-rocket-launch-high-quality-6.jpg -->
                                <img class="load-after-body" alt="The rocket launch" style="width:100%;" />
                                <div class="w3-display-bottomleft w3-padding-small">The rocket launch</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="w3-margin">
                <div class="w3-content w3-white my-xxcard">
                    <div class="w3-center">
                        <h2 class="w3-center dark-blue-grad w3-bottombar w3-border-amber w3-padding-32 header-text mb2">Significant milestones in space exploration</h2>
                        <p class="w3-padding-large w3-xlarge">A list of significant milestones in space exploration is provided in the table.</p>
                    </div>
                    <div class="no-smpad w3-padding-large w3-padding-24">
                        <div class="w3-responsive my-xxlarge w3-card">
                            <table class="w3-table w3-striped w3-bordered" style="table-layout:fixed">
                                <thead>
                                    <tr class="my-theme">
                                      <th>Date accomplished</th>
                                      <th>Event</th>
                                      <th>Details</th>
                                      <th>Country of agency</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Oct. 4, 1957</td>
                                        <td>First artificial Earth satellite</td>
                                        <td>Sputnik 1</td>
                                        <td>U.S.S.R.</td>
                                    </tr>
                                    <tr>
                                        <td>Nov. 3, 1957</td>
                                        <td>First animal launched into space</td>
                                        <td>Dog Laika aboard Sputnik 2</td>
                                        <td>U.S.S.R.</td>
                                    </tr>
                                    <tr>
                                        <td>Sept. 14, 1959</td>
                                        <td>First spacecraft to hard-land on another celestial object (the Moon)</td>
                                        <td>Luna 2</td>
                                        <td>U.S.S.R.</td>
                                    </tr>
                                    <tr>
                                        <td>Oct. 7, 1959</td>
                                        <td>First pictures of the far side of the Moon</td>
                                        <td>Luna 3</td>
                                        <td>U.S.S.R.</td>
                                    </tr>
                                    <tr>
                                        <td>April 1, 1960</td>
                                        <td>First applications satellite launched</td>
                                        <td>TIROS 1 (weather observation)</td>
                                        <td>U.S.</td>
                                    </tr>
                                    <tr>
                                        <td>Aug. 11, 1960</td>
                                        <td>First recovery of a payload from Earth orbit</td>
                                        <td>Discoverer 13 (part of Corona reconnaissance satellite program)</td>
                                        <td>U.S.</td>
                                    </tr>
                                    <tr>
                                        <td>April 12, 1961</td>
                                        <td>First human to orbit Earth</td>
                                        <td>Yury Gagarin on Vostok 1</td>
                                        <td>U.S.S.R.</td>
                                    </tr>
                                    <tr>
                                        <td>Dec. 14, 1962</td>
                                        <td>First data returned from another planet (Venus)</td>
                                        <td>Mariner 2</td>
                                        <td>U.S.</td>
                                    </tr>
                                    <tr>
                                        <td>June 16, 1963</td>
                                        <td>First woman in space</td>
                                        <td>Valentina Tereshkova on Vostok 6</td>
                                        <td>U.S.S.R.</td>
                                    </tr>
                                    <tr>
                                        <td>July 26, 1963</td>
                                        <td>First satellite to operate in geostationary orbit</td>
                                        <td>Syncom 2 (telecommunications satellite)</td>
                                        <td>U.S</td>
                                    </tr>
                                    <tr>
                                        <td>March 18, 1965</td>
                                        <td>First space walk</td>
                                        <td>Aleksey Leonov on Voskhod 2</td>
                                        <td>U.S.S.R.</td>
                                    </tr>
                                    <tr>
                                        <td>July 14, 1965</td>
                                        <td>First spacecraft pictures of Mars</td>
                                        <td>Mariner 4</td>
                                        <td>U.S.</td>
                                    </tr>
                                    <tr>
                                        <td>Feb. 3, 1966</td>
                                        <td>First spacecraft to soft-land on the Moon</td>
                                        <td>Luna 9</td>
                                        <td>U.S.S.R.</td>
                                    </tr>
                                    <tr>
                                        <td>April 24, 1967</td>
                                        <td>First death during a space mission</td>
                                        <td>Vladimir Komarov on Soyuz 1</td>
                                        <td>U.S.S.R.</td>
                                    </tr>
                                    <tr>
                                        <td>Dec. 24, 1968</td>
                                        <td>First humans to orbit the Moon</td>
                                        <td>Frank Borman, James Lovell, and William Anders on Apollo 8</td>
                                        <td>U.S.</td>
                                    </tr>
                                    <tr>
                                        <td>July 20, 1969</td>
                                        <td>First human to walk on the Moon</td>
                                        <td>Neil Armstrong on Apollo 11</td>
                                        <td>U.S.</td>
                                    </tr>
                                    <tr>
                                        <td>Sept. 24, 1970</td>
                                        <td>First return of lunar samples by an unmanned spacecraft</td>
                                        <td>Luna 16</td>
                                        <td>U.S.S.R.</td>
                                    </tr>
                                    <tr>
                                        <td>Dec. 15, 1970</td>
                                        <td>First soft landing on another planet (Venus)</td>
                                        <td>Venera 7</td>
                                        <td>U.S.S.R.</td>
                                    </tr>
                                    <tr>
                                        <td>April 19, 1971</td>
                                        <td>First space station launched</td>
                                        <td>Salyut 1</td>
                                        <td>U.S.S.R.</td>
                                    </tr>
                                    <tr>
                                        <td>Nov. 13, 1971</td>
                                        <td>First spacecraft to orbit another planet (Mars)</td>
                                        <td>Mariner 9</td>
                                        <td>U.S.</td>
                                    </tr><tr>
                                        <td>Dec. 2, 1971</td>
                                        <td>First spacecraft to soft-land on Mars</td>
                                        <td>Mars 3</td>
                                        <td>U.S.S.R.</td>
                                    </tr>
                                    <tr>
                                        <td>Dec. 3, 1973</td>
                                        <td>First spacecraft to fly by Jupiter</td>
                                        <td>Pioneer 10</td>
                                        <td>U.S.</td>
                                    </tr>
                                    <tr>
                                        <td>July 17, 1975</td>
                                        <td>First international docking in space</td>
                                        <td>Apollo and Soyuz spacecraft during Apollo-Soyuz Test Project</td>
                                        <td>U.S., U.S.S.R.</td>
                                    </tr>
                                    <tr>
                                        <td>July 20, 1976</td>
                                        <td>First pictures transmitted from the surface of Mars</td>
                                        <td>Viking 1</td>
                                        <td>U.S.</td>
                                    </tr>
                                    <tr>
                                        <td>Sept. 1, 1979</td>
                                        <td>First spacecraft to fly by Saturn</td>
                                        <td>Pioneer 11</td>
                                        <td>U.S.</td>
                                    </tr>
                                    <tr>
                                        <td>April 12–14, 1981</td>
                                        <td>First reusable spacecraft launched and returned from space</td>
                                        <td>Space shuttle Columbia</td>
                                        <td>U.S.</td>
                                    </tr>
                                    <tr>
                                        <td>Jan. 24, 1986</td>
                                        <td>First spacecraft to fly by Uranus</td>
                                        <td>Voyager 2</td>
                                        <td>U.S.</td>
                                    </tr>
                                    <tr>
                                        <td>March 13, 1986</td>
                                        <td>First spacecraft to make a close flyby of a comet nucleus</td>
                                        <td>Giotto at Halley's Comet</td>
                                        <td>European Space Agency</td>
                                    </tr>
                                    <tr>
                                        <td>Aug. 24, 1989</td>
                                        <td>First spacecraft to fly by Neptune</td>
                                        <td>Voyager 2</td>
                                        <td>U.S.</td>
                                    </tr>
                                    <tr>
                                        <td>April 25, 1990</td>
                                        <td>First large optical space telescope launched</td>
                                        <td>Hubble Space Telescope</td>
                                        <td>U.S., European Space Agency</td>
                                    </tr>
                                    <tr>
                                        <td>Dec. 7, 1995</td>
                                        <td>First spacecraft to orbit Jupiter</td>
                                        <td>Galileo</td>
                                        <td>U.S.</td>
                                    </tr>
                                    <tr>
                                        <td>Nov. 2, 2000</td>
                                        <td>First resident crew to occupy the International Space Station</td>
                                        <td>William Shepherd, Yury Gidzenko, and Sergey Krikalyov</td>
                                        <td>U.S., Russia</td>
                                    </tr>
                                    <tr>
                                        <td>Feb. 14, 2000; Feb. 12, 2001</td>
                                        <td>First spacecraft to orbit (2000) and land on (2001) an asteroid</td>
                                        <td>NEAR at the asteroid Eros</td>
                                        <td>U.S.</td>
                                    </tr>
                                    <tr>
                                        <td>June 21, 2004</td>
                                        <td>First privately funded manned spacecraft to achieve suborbital flight above 100 km (62 miles)</td>
                                        <td>Mike Melvill on SpaceShipOne</td>
                                        <td>Mojave Aerospace Ventures (commercial joint venture)</td>
                                    </tr>
                                    <tr>
                                        <td>July 1, 2004</td>
                                        <td>First spacecraft to orbit Saturn</td>
                                        <td>Cassini-Huygens</td>
                                        <td>U.S., European Space Agency, Italy</td>
                                    </tr>
                                    <tr>
                                        <td>Jan. 14, 2005</td>
                                        <td>First spacecraft to land on the moon of a planet other than Earth (Saturn's moon Titan)</td>
                                        <td>Huygens probe of the Cassini-Huygens spacecraft</td>
                                        <td>U.S., European Space Agency, Italy</td>
                                    </tr>
                                    <tr>
                                        <td>June 13, 2010</td>
                                        <td>First spacecraft to return to Earth with samples from an asteroid</td>
                                        <td>Hayabusa</td>
                                        <td>Japan</td>
                                    </tr>
                                    <tr>
                                        <td>March 17, 2011</td>
                                        <td>First spacecraft to orbit Mercury</td>
                                        <td>Messenger</td>
                                        <td>U.S.</td>
                                    </tr>
                                    <tr>
                                        <td>August 6, 2014</td>
                                        <td>First spacecraft to orbit a comet</td>
                                        <td>Rosetta</td>
                                        <td>European Space Agency</td>
                                    </tr>
                                    <tr>
                                        <td>November 12, 2014</td>
                                        <td>First spacecraft to land on a comet</td>
                                        <td>Philae</td>
                                        <td>European Space Agency</td>
                                    </tr>
                                    <tr>
                                        <td>March 6, 2015</td>
                                        <td>First spacecraft to orbit a dwarf planet (Ceres)</td>
                                        <td>Dawn</td>
                                        <td>U.S.</td>
                                    </tr>
                                    <tr>
                                        <td>July 14, 2015</td>
                                        <td>First spacecraft to fly by Pluto</td>
                                        <td>New Horizons</td>
                                        <td>U.S.</td>
                                    </tr>
                                    <tr>
                                        <td>December 21, 2015</td>
                                        <td>First rocket stage to return to its launch site</td>
                                        <td>Falcon 9</td>
                                        <td>U.S.</td>
                                    </tr>
                                    <tr>
                                        <td>January 1, 2019</td>
                                        <td>Farthest object (2014 MU69) explored by a spacecraft</td>
                                        <td>New Horizons</td>
                                        <td>U.S.</td>
                                    </tr>
                                    <tr>
                                        <td>January 3, 2019</td>
                                        <td>First landing on the Moon's far side</td>
                                        <td>Chang'e 4</td>
                                        <td>China</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="w3-margin cool-font">
                <div class="w3-content" style="max-width:1400px;">
                    <div class="w3-container w3-text-white">
                        <h2>The humans</h2>
                        <p>The greatest achievments</p>
                    </div>
                    <div class="w3-row-padding w3-stretch">
                        <div class="w3-col m6 w3-margin-bottom">
                            <picture>
                                <!--/static/images/history/milestones-sputnik-sm-md.jpg-->
                                <source class="last-load" media="(max-width: 992px)">
                                <!--/static/images/history/milestones-sputnik.jpg-->
                                <img class="last-load" alt="The first satelite" />
                            </picture>
                            <div class="w3-container w3-white">
                                <h3>Sputnik 1</h3>
                                <p class="w3-opacity">The first artificial Earth satellite</p>
                                <p>U.S.S.R.</p>
                            </div>
                        </div>
                        <div class="w3-col m6 w3-margin-bottom">
                            <picture>
                                <!--https://mk0astronomynow9oh6g.kinstacdn.com/wp-content/uploads/2015/04/HST_in_orbit_620x400.jpg-->
                                <source class="last-load" media="(max-width: 992px)">
                                <!--/static/images/history/milestones-hubble.jpg-->
                                <img class="last-load" alt="Hubble Space Telescope" />
                            </picture>
                            <div class="w3-container w3-white">
                                <h3>Hubble Space Telescope</h3>
                                <p class="w3-opacity">The first large optical space telescope launched</p>
                                <p>U.S., European Space Agency</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}

{% block info %}
                <span>The source of most text information is</span>
                <a class="source" href="https://www.britannica.com/science/space-exploration/Major-milestones" target="_blank">Britannica</a>
{% endblock %}

{% block scripts %}
        <script>
            // Load images after a page has loaded
            loadImgsAfterBody([
                'https://i.pinimg.com/736x/ec/c0/95/ecc095c0316db7f3dd9cf46b61736608.jpg',
                '/static/images/history/milestones-armstrong.jpg',
                '/static/images/history/milestones-moon-small.jpg',
                'https://thumbor.forbes.com/thumbor/960x0/https%3A%2F%2Fblogs-images.forbes.com%2Fstartswithabang%2Ffiles%2F2016%2F11%2FFullMoon2010-1200x1140.jpg',
                '/static/images/history/milestones-astronaut.jpg',
                'https://twistedsifter.files.wordpress.com/2012/05/nasa-rocket-launch-high-quality-6.jpg'
            ], true);
            // Load images when a user has scrolled down the middle of a page
            loadAfterScrollMid([
                '/static/images/history/milestones-sputnik-sm-md.jpg',
                '/static/images/history/milestones-sputnik.jpg',
                'https://mk0astronomynow9oh6g.kinstacdn.com/wp-content/uploads/2015/04/HST_in_orbit_620x400.jpg',
                '/static/images/history/milestones-hubble.jpg'
            ]);
            // Make a link to the current page active
            makeActive('.milestones');
        </script>
{% endblock %}