{% extends "layout.html" %}


{% block title %}
    Precursors in fiction and fact
{% endblock %}

{% block style %}
        <style>
            .boxshadow {
                width: 65%;
            }
            @media screen and (min-width:993px){.head-img{background-image:url("https://static1.squarespace.com/static/57ed3edb37c58182f815c65f/57ed3f076a49633d10d11e12/5cae1247e79c707fbfed0f13/1554912091369/shutterstock_571916983.jpg?format=2500w");}}
            @media screen and (max-width:992px){.head-img{background-image:url("/static/images/history/hero-history-medium.jpg");}}
            @media screen and (max-width:600px){.head-img{height:76%;background-image:url("/static/images/history/hero-history-small.jpg");}}
        </style>
{% endblock %}

{% block head_content %}
            <div class="w3-display-bottomleft w3-center w3-margin-bottom w3-padding-large w3-hide-medium w3-hide-small">
                <span class="w3-tag">Whatever it takes</span>
            </div>
            <div class="w3-display-top w3-center w3-padding-large">
                <h1 class="w3-jumbo w3-text-white imgtext"><b>PRELUDE</b></h1>
                <h1 class="w3-jumbo w3-text-white imgtext"><b>TO SPACEFLIGHT</b></h1>
            </div>
            <div class="w3-display-bottomright w3-center w3-margin-bottom w3-padding-large tag-text">
                <span id="bigger_font" class="contour w3-text-white">The only limits on human achievement are self-imposed</span>
            </div>
{% endblock %}

{% block main %}
            <div class="w3-margin">
                <div class="w3-content w3-white my-xxcard">
                    <h2 class="w3-center dark-blue-grad w3-bottombar w3-border-orange w3-padding-64 header-text">Precursors in fiction and fact</h2>
                    <div class="w3-padding">
                        <p>
                            Since ancient times, people around the world have studied the heavens and used their observations and explanations of
                            astronomical phenomena for both religious and practical purposes. Some dreamed of leaving Earth to explore other worlds.
                            For example, the French satirist Cyrano de Bergerac in the 17th century wrote Histoire
                            comique des états et empires de la lune (1656) and Histoire comique des états et empires du soleil (1662;
                            together in English as A Voyage to the Moon: With Some Account of the Solar World, 1754),
                            describing fictional journeys to the Moon and the Sun. Two centuries later the French author Jules Verne
                            and the English novelist and historian H.G. Wells infused their stories with descriptions of outer space
                            and of spaceflight that were consistent with the best understanding of the time. Verne’s De la Terre à la Lune
                            (1865; From the Earth to the Moon) and Wells’s The War of the Worlds (1898) and The First Men in the Moon (1901)
                            used sound scientific principles to describe space travel and encounters with alien beings.
                        </p>
                        <p>
                            In order to translate these fictional images of space travel into reality, it was necessary to devise some practical
                            means of countering the influence of Earth’s gravity. By the beginning of the 20th century,
                            the centuries-old technology of rockets had advanced to the point at which it was reasonable to consider
                            their use to accelerate objects to a velocity sufficient to enter orbit around Earth and even to escape Earth’s gravity
                            and travel away from the planet.
                        </p>
                    </div>
                </div>
            </div>

            <div class="w3-margin">
                <div class="w3-content w3-white my-xxcard">
                    <h2 class="w3-center silver-grad w3-bottombar w3-border-amber w3-padding-32 header-text">Tsiolkovsky</h2>
                    <div class="w3-padding w3-light-grey">
                        <p>
                            Konstantin Eduardovich Tsiolkovsky (Russian: Константин Эдуардович Циолковский, IPA:
                            [kənstɐnʲˈtʲin ɪdʊˈardəvʲɪtɕ tsɨɐlˈkofskʲɪj] (About this soundlisten);
                            17 September [O.S. 5 September] 1857  – 19 September 1935) was a Russian and
                            Soviet rocket scientist and pioneer of the astronautic theory. Along with the French Robert Esnault-Pelterie,
                            the German Hermann Oberth and the American Robert H. Goddard, he is considered to be one of
                            the founding fathers of modern rocketry and astronautics. His works later inspired leading Soviet rocket engineers
                            such as Sergei Korolev and Valentin Glushko and contributed to the success of the Soviet space program.
                        </p>
                        <p>
                            Tsiolkovsky spent most of his life in a log house on the outskirts of Kaluga, about 200 km (120 mi) southwest of Moscow.
                            A recluse by nature, his unusual habits made him seem bizarre to his fellow townsfolk.
                        </p>
                    </div>
                    <div class="w3-padding">
                        <p>
                            The first person to study in detail the use of rockets for spaceflight was the Russian schoolteacher and
                            mathematician Konstantin Tsiolkovsky. In 1903 his article “Exploration of Cosmic Space by Means of
                            Reaction Devices” laid out many of the principles of spaceflight. Up to his death in 1935,
                            Tsiolkovsky continued to publish sophisticated studies on the theoretical aspects of spaceflight.
                            He never complemented his writings with practical experiments in rocketry, but his work greatly influenced later space
                            and rocket research in the Soviet Union and Europe.
                        </p>
                        <div class="boxshadow w3-content w3-center w3-round w3-margin-bottom">
                            <picture>
                                <!-- /static/images/history/tsiolkovskiy-small.jpg -->
                                <source class="load-after-body" media="(max-width: 600px)" />
                                <!-- https://media.sciencephoto.com/image/c0025336/800wm -->
                                <img class="load-after-body" alt="Tsiolkovsky" style="width:100%;" />
                            </picture>
                        </div>
                    </div>
                </div>
            </div>

            <div class="w3-margin">
                <div class="w3-content w3-white my-xxcard">
                    <h2 class="w3-center gold-grad w3-bottombar w3-border-orange w3-padding-32 header-text">Goddard</h2>
                    <div class="w3-padding w3-light-grey">
                        <p>
                            Robert Hutchings Goddard (October 5, 1882 – August 10, 1945) was an American engineer, professor, physicist,
                            and inventor who is credited with creating and building the world's first liquid-fueled rocket.
                            Goddard successfully launched his rocket on March 16, 1926, ushering in an era of space flight and innovation.
                            He and his team launched 34 rockets between 1926 and 1941, achieving altitudes as high as 2.6 km (1.6 mi)
                            and speeds as fast as 885 km/h (550 mph)
                        </p>
                        <p>
                            Goddard's work as both theorist and engineer anticipated many of the developments that were to make spaceflight possible.
                            He has been called the man who ushered in the Space Age.<sup>:xiii</sup> Two of Goddard's 214 patented inventions—a
                            multi-stage rocket (1914), and a liquid-fuel rocket (1914)—were important milestones toward spaceflight.
                            His 1919 monograph A Method of Reaching Extreme Altitudes is considered one of the classic texts of
                            20th-century rocket science. Goddard successfully applied two-axis control (gyroscopes and steerable thrust)
                            to rockets to effectively control their flight.
                        </p>
                    </div>
                    <div class="w3-padding">
                        <p>
                            In the United States, Robert Hutchings Goddard became interested in space exploration after reading works
                            such as The War of the Worlds. Even as a young man, he dedicated himself to working on spaceflight.
                            In his 1904 high-school graduation speech, he stated that “it is difficult to say what is impossible,
                            for the dream of yesterday is the hope of today and the reality of tomorrow.” Goddard received his first two patents
                            for rocket technology in 1914, and, with funding from the Smithsonian Institution, he published a theoretical treatise,
                            A Method of Reaching Extreme Altitudes, in 1919. Goddard’s claim that rockets could be used to send objects as far as
                            the Moon was widely ridiculed in the public press, including The New York Times
                            (which published a retraction on July 17, 1969, the day after the launch of the first crewed mission to the Moon).
                            Thereafter, the already shy Goddard conducted much of his work in secret, preferring to patent rather than publish his results.
                            This approach limited his influence on the development of American rocketry, although early rocket developers in Germany took notice
                            of his work.
                        </p>
                        <div class="boxshadow w3-content w3-center w3-round">
                            <picture>
                                <!-- /static/images/goddard-md-sm.jpg -->
                                <source class="load-after-body" media="(max-width: 992px)" />
                                <!-- /static/images/goddard-large.jpg -->
                                <img class="load-after-body" alt="Goddard" style="width:100%;" />
                            </picture>
                        </div>
                        <p>
                            In the 1920s, as a professor of physics at Clark University in Worcester, Massachusetts, Goddard began to experiment with liquid-fueled rockets.
                            His first rocket, launched in Auburn, Massachusetts, on March 16, 1926, rose 12.5 metres (41 feet) and traveled 56 metres (184 feet)
                            from its launching place. The noisy character of his experiments made it difficult for Goddard to continue work in Massachusetts.
                            With support from aviator Charles A. Lindbergh and financial assistance from the philanthropic Daniel Guggenheim Fund for the Promotion of Aeronautics,
                            he moved to Roswell, New Mexico, where from 1930 to 1941 he built engines and launched rockets of increasing complexity.
                        </p>
                    </div>
                </div>
            </div>

            <div class="w3-margin">
                <div class="w3-content w3-white my-xxcard">
                    <h2 class="w3-center blue-grey-grad w3-bottombar w3-border-amber w3-padding-32 header-text">Oberth</h2>
                    <div class="w3-padding w3-light-grey">
                        <p>
                            Hermann Julius Oberth (German: [ˈhɛrman ˈjuːli̯ʊs ˈoːbɛrt]; 25 June 1894 – 28 December 1989) was an Austro-Hungarian-bor
                            German physicist and engineer. He is considered one of the founding fathers of rocketry and astronautics,
                            along with the French Robert Esnault-Pelterie, the Russian Konstantin Tsiolkovsky and the American Robert Goddard.
                        </p>
                    </div>
                    <div class="w3-padding">
                        <p>
                            The third widely recognized pioneer of rocketry, Hermann Oberth, was by birth a Romanian but by nationality a German.
                            Reading Verne’s From the Earth to the Moon as a youth inspired him to study the requirements for interplanetary travel.
                            Oberth’s 1922 doctoral dissertation on rocket-powered flight was rejected by the University of Heidelberg for
                            being too speculative, but it became the basis for his classic 1923 book Die Rakete zu den Planetenräumen
                            (“The Rocket into Interplanetary Space”). The work explained the mathematical theory of rocketry,
                            applied the theory to rocket design, and discussed the possibility of constructing space stations
                            and of traveling to other planets.
                        </p>
                        <div class="boxshadow w3-content w3-center w3-round">
                            <picture>
                                <!-- /static/images/history/oberth-small.jpg -->
                                <source class="load-after-body" media="(max-width: 600px)" />
                                <!-- https://pbs.twimg.com/media/D96K2FWWwAActYu.jpg -->
                                <img class="load-after-body" alt="Oberth" style="width:100%;" />
                            </picture>
                        </div>
                        <p>
                            In 1929 Oberth published a second influential book, Wege zur Raumschiffahrt (Ways to Spaceflight).
                            His works led to the creation of a number of rocket clubs in Germany as enthusiasts tried to turn Oberth’s ideas
                            into practical devices. The most important of these groups historically was the Verein für Raumschiffahrt
                            (VfR; “Society for Spaceship Travel”), which had as a member the young Wernher von Braun.
                            Although Oberth’s work was crucial in stimulating the development of rocketry in Germany,
                            he himself had only a limited role in that development. Alone among the rocket pioneers,
                            Oberth lived to see his ideas become reality: he was Braun’s guest at the July 16, 1969, launch of Apollo 11.
                        </p>
                    </div>
                </div>
            </div>

            <div class="w3-margin">
                <div class="w3-content w3-white my-xxcard">
                    <h2 class="w3-center teal-grad w3-bottombar w3-border-deep-purple w3-padding-32 header-text">Other space pioneers</h2>
                    <div class="w3-padding">
                        <p>
                            Although Tsiolkovsky, Goddard, and Oberth are recognized as the most influential of the first-generation space pioneers,
                            others made contributions in the early decades of the 20th century. For example,
                            the Frenchman Robert Esnault-Pelterie began work on the theoretical aspects of spaceflight as early as 1907
                            and subsequently published several major books on the topic. He, like Tsiolkovsky in the Soviet Union
                            and Oberth in Germany, was an effective publicist regarding the potential of space exploration. In Austria,
                            Eugen Sänger worked on rocket engines and in the late 1920s proposed developing a “rocket plane”
                            that could reach a speed exceeding 10,000 km (more than 6,000 miles) per hour and an altitude of more than 65 km (40 miles).
                            Interested in Sänger’s work, Nazi Germany in 1936 invited him to continue his investigations in that country.
                        </p>
                    </div>
                </div>
            </div>
{% endblock %}

{% block info %}
                <span>The source of most text information is</span>
                <a class="source" href="https://www.britannica.com/science/space-exploration/History-of-space-exploration" target="_blank">Britannica</a>
{% endblock %}

{% block scripts %}
        <script>
            // Load images after a page has loaded
            loadImgsAfterBody([
                '/static/images/history/tsiolkovskiy-small.jpg',
                'https://media.sciencephoto.com/image/c0025336/800wm',
                '/static/images/history/goddard-md-sm.jpg',
                '/static/images/history/goddard-large.jpg',
                '/static/images/history/oberth-small.jpg',
                'https://pbs.twimg.com/media/D96K2FWWwAActYu.jpg'
            ], true);
            // Make a link to the current page active
            makeActive('.precursors');
        </script>
{% endblock %}