@import '~antd/dist/antd.css';

body {
  font-size: 16px;
  overflow-x: hidden;
}

.container-fluid {
  position: relative;
  margin: 0 auto 40px;
  max-width: 1200px;
  padding: 0 15px;
}

.positions-container, .pays-container {
  margin: 15px 0;
  padding: 5px 0;
  border: 1px solid black;
  background-color: #e1e1e1;
  border-radius: 15px;
}

.positions-container .position, .pays-container .pay {
  margin: 10px 0;
  padding: 5px 2px;
  background-color: #c7c7c7;
  border: 1px solid black;
  border-width: 2px 0 2px 0; 
}

.input-label {
  font-weight: 500;
}