@import '~antd/dist/antd.css';

body {
  font-size: 16px;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

.container-fluid {
  position: relative;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}

.form-flex-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-flex-container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.search-flex-container .container-fluid {
  width: 80%;
}

.search-flex-container-active {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.search-flex-container-active .container-fluid {
  width: 100%;
  margin-top: 30px;
}

.login-form {
  position: relative;
  background-color: #fff;
  border: 1px solid #e9e9e9;
  border-radius: 10px;
  padding: 100px 80px 30px;
  text-align: center;
}

.mainLayout .ant-layout-header {
  background: #fff;
  line-height: 1.6;
  height: auto;
}

.ant-layout-content {
  background: #f9f9f9;
  height: 90vh;
}

.fas.fa-bolt {
  color: #1890ff;
  text-transform: uppercase;
}

.container-fluid .fas.fa-bolt {
  position: absolute;
  left: 0;
  top: 35%;
  margin: 0 5px 0 0;
  font-size: 22px;
}

.login-form .fas.fa-bolt {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 50px;
  width: 100%;
  margin: 40px 0 0;
}

.login-form .ant-form-item-label {
  padding: 0;
}

.login-form .ant-input {
  width: 100%;
}

.login-form .ant-btn {
  width: 50%;
}

.ant-menu {
  background: inherit !important;
  border: none!important;
}

.ant-menu:before, .ant-menu:after,
.container:before, .container:after {
  content: "";
  display: table;
  clear: both;
}

.ant-menu .ant-menu-item {
  padding: 15px 0 !important;
  color: #1890ff
}

.ant-menu .ant-menu-item-only-child:nth-child(6) {
  float: right;
}

.container {
  margin: 4px 0;
  background-color: #fff;
}

.videos-header .container, .favourite-header {
  margin: 25px 0;
  background-color: inherit;
}

.videos-header__btns {
  float: right;
}

.videos-header__btns button {
  margin: 0 6px;
  cursor: pointer;
}

.container__text, .container__side-btn {
  padding: 8px 12px;
  border: none;
}

.container__text {
  font-weight: 600;
  float: left;
}

.container__side-btn {
  float: right;
  background-color: inherit;
  cursor: pointer;
}

.container__side-btn:hover {
  background-color: #f1f1f1;
}

.ant-modal-content {
  text-align: center;
}

.ant-modal-content input:nth-of-type(2) {
  margin: 30px 0;
}

.ant-modal-content .ant-row {
  margin-top: 30px;
}

.ant-modal-content .ant-modal-footer {
  text-align: center;
}

.ant-modal-body .ant-select-selection-item {
  text-align: left;
}

.ant-modal-footer .ant-btn {
  width: 40%;
}

.btn-execute {
  color: #28b915;
}
.btn-execute:hover {
  color:  #1ace1a;
}

.btn-change {
  color: #173bdd;
}
.btn-change:hover {
  color: #1756dd
}

.btn-remove {
  color: #b92613;
}
.btn-remove:hover {
  color: #d42c15;
}

.active-saved-con {
  color: #173bdd;
}
.saved-icon {
  color: #000;
}