{% if first %}
<div id="item0" class="w3-col l4 w3-margin-bottom w3-animate-zoom">
    <div class="card w3-white my-hover-shadow">
        <div class="w3-row">
            <div class="w3-col l12 s4">
                <picture>
                    <source srcset="/static/images/shop/dust-small.jpg" media="(max-width: 600px)" />
                    <img src="/static/images/shop/dust.jpg" alt="cosmic dust" style="width:100%;" />
                </picture>
            </div>
            <div class="w3-col l12 s5 w3-display-container">
                <h1 class="item-name"></h1>
                <p class="price">$</p>
                <div class="to-bottom">
                    <div class="custom-select">
            	        <select name="transport">
            		        <option value="0">Quantity</option>
            	        </select>
            	    </div>
            	</div>
            </div>
            <div class="w3-col l12 s3">
                <button id="0" class="w3-btn" onclick="removeItem(this)">Remove</button>
            </div>
        </div>
    </div>
</div>
<div id="item1" class="w3-col l4 w3-margin-bottom w3-animate-zoom">
    <div class="card w3-white my-hover-shadow">
        <div class="w3-row">
            <div class="w3-col l12 s4">
                <picture>
                    <source srcset="/static/images/shop/luxury-house-small.jpg" media="(max-width: 600px)" />
                    <img src="/static/images/shop/luxury-house.jpg" alt="a luxury house" style="width:100%;" />
                </picture>
            </div>
            <div class="w3-col l12 s5 w3-display-container">
                <h1 class="item-name"></h1>
                <p class="price">$</p>
                <div class="to-bottom">
                    <div class="custom-select">
            	        <select name="transport">
            		        <option value="0">Quantity</option>
            	        </select>
            	    </div>
        	    </div>
            </div>
            <div class="w3-col l12 s3">
                <button id="1" class="w3-btn" onclick="removeItem(this)">Remove</button>
            </div>
        </div>
    </div>
</div>
<div id="item2" class="w3-col l4 w3-margin-bottom w3-animate-zoom">
    <div class="card w3-white my-hover-shadow">
        <div class="w3-row">
            <div class="w3-col l12 s4">
                <picture>
                    <source srcset="/static/images/shop/car-small.jpg" media="(max-width: 600px)" />
                    <img src="/static/images/shop/car.jpg" alt="a rarity car" style="width:100%;" />
                </picture>
            </div>
            <div class="w3-col l12 s5 w3-display-container">
                <h1 class="item-name"></h1>
                <p class="price">$</p>
                <div class="to-bottom">
                    <div class="custom-select">
            	        <select name="transport">
            		        <option value="0">Quantity</option>
            	        </select>
            	    </div>
            	</div>
            </div>
            <div class="w3-col l12 s3">
                <button id="2" class="w3-btn" onclick="removeItem(this)">Remove</button>
            </div>
        </div>
    </div>
</div>
<div id="item3" class="w3-col l4 w3-margin-bottom w3-animate-zoom">
    <div class="card w3-white my-hover-shadow">
        <div class="w3-row">
            <div class="w3-col l12 s4">
                <picture>
                    <source srcset="/static/images/shop/clouds-small.jpg" media="(max-width: 600px)" />
                    <img src="/static/images/shop/clouds.jpg" alt="clouds" style="width:100%;" />
                </picture>
            </div>
            <div class="w3-col l12 s5 w3-display-container">
                <h1 class="item-name"></h1>
                <p class="price">$</p>
                <div class="to-bottom">
                    <div class="custom-select">
            	        <select name="transport">
            		        <option value="0">Quantity</option>
            	        </select>
            	    </div>
            	</div>
            </div>
            <div class="w3-col l12 s3">
                <button id="3" class="w3-btn" onclick="removeItem(this)">Remove</button>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if second %}
<div id="item4" class="w3-col l4 w3-margin-bottom w3-animate-zoom">
    <div class="card w3-white my-hover-shadow">
        <div class="w3-row">
            <div class="w3-col l12 s4">
                <picture>
                    <source srcset="/static/images/shop/star-small.jpg" media="(max-width: 600px)" />
                    <img src="/static/images/shop/star.jpg" alt="a star" style="width:100%;" />
                </picture>
            </div>
            <div class="w3-col l12 s5 w3-display-container">
                <h1 class="item-name"></h1>
                <p class="price">$</p>
                <div class="to-bottom">
                    <div class="custom-select">
            	        <select name="transport">
            		        <option value="0">Quantity</option>
            	        </select>
            	    </div>
            	</div>
            </div>
            <div class="w3-col l12 s3">
                <button id="4" class="w3-btn" onclick="removeItem(this)">Remove</button>
            </div>
        </div>
    </div>
</div>
<div id="item5" class="w3-col l4 w3-margin-bottom w3-animate-zoom">
    <div class="card w3-white my-hover-shadow">
        <div class="w3-row">
            <div class="w3-col l12 s4">
                <picture>
                    <source srcset="/static/images/shop/sweater-small.jpg" media="(max-width: 600px)" />
                    <img src="/static/images/shop/sweater.jpg" alt="a sweater" style="width:100%;" />
                </picture>
            </div>
            <div class="w3-col l12 s5 w3-display-container">
                <h1 class="item-name"></h1>
                <p class="price">$</p>
                <div class="to-bottom">
                    <div class="custom-select">
            	        <select name="transport">
            		        <option value="0">Quantity</option>
            	        </select>
            	    </div>
            	</div>
            </div>
            <div class="w3-col l12 s3">
                <button id="5" class="w3-btn" onclick="removeItem(this)">Remove</button>
            </div>
        </div>
    </div>
</div>
<div id="item6" class="w3-col l4 w3-margin-bottom w3-animate-zoom">
    <div class="card w3-white my-hover-shadow">
        <div class="w3-row">
            <div class="w3-col l12 s4">
                <picture>
                    <source srcset="/static/images/shop/money-small.jpg" media="(max-width: 600px)" />
                    <img src="/static/images/shop/money.jpg" alt="money" style="width:100%;" />
                </picture>
            </div>
            <div class="w3-col l12 s5 w3-display-container">
                <h1 class="item-name"></h1>
                <p class="price">$</p>
                <div class="to-bottom">
                    <div class="custom-select">
            	        <select name="transport">
            		        <option value="0">Quantity</option>
            	        </select>
            	    </div>
            	</div>
            </div>
            <div class="w3-col l12 s3">
                <button id="6" class="w3-btn" onclick="removeItem(this)">Remove</button>
            </div>
        </div>
    </div>
</div>
<div id="item7" class="w3-col l4 w3-margin-bottom w3-animate-zoom">
    <div class="card w3-white my-hover-shadow">
        <div class="w3-row">
            <div class="w3-col l12 s4">
                <picture>
                    <source srcset="/static/images/shop/flying-car-small.jpg" media="(max-width: 600px)" />
                    <img src="/static/images/shop/flying-car.jpg" alt="a flying car" style="width:100%;" />
                </picture>
            </div>
            <div class="w3-col l12 s5 w3-display-container">
                <h1 class="item-name"></h1>
                <p class="price">$</p>
                <div class="to-bottom">
                    <div class="custom-select">
            	        <select name="transport">
            		        <option value="0">Quantity</option>
            	        </select>
            	    </div>
            	</div>
            </div>
            <div class="w3-col l12 s3">
                <button id="7" class="w3-btn" onclick="removeItem(this)">Remove</button>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if third %}
<div id="item8" class="w3-col l4 w3-margin-bottom w3-animate-zoom">
    <div class="card w3-white my-hover-shadow">
        <div class="w3-row">
            <div class="w3-col l12 s4">
                <picture>
                    <source srcset="/static/images/shop/socks-small.jpg" media="(max-width: 600px)" />
                    <img src="/static/images/shop/socks.jpg" alt="socks" style="width:100%;" />
                </picture>
            </div>
            <div class="w3-col l12 s5 w3-display-container">
                <h1 class="item-name"></h1>
                <p class="price">$</p>
                <div class="to-bottom">
                    <div class="custom-select">
            	        <select name="transport">
            		        <option value="0">Quantity</option>
            	        </select>
            	    </div>
            	</div>
            </div>
            <div class="w3-col l12 s3">
                <button id="8" class="w3-btn" onclick="removeItem(this)">Remove</button>
            </div>
        </div>
    </div>
</div>
<div id="item9" class="w3-col l4 w3-margin-bottom w3-animate-zoom">
    <div class="card w3-white my-hover-shadow">
        <div class="w3-row">
            <div class="w3-col l12 s4">
                <picture>
                    <source srcset="/static/images/shop/hat-small.jpg" media="(max-width: 600px)" />
                    <img src="/static/images/shop/hat.jpg" alt="a hat" style="width:100%;" />
                </picture>
            </div>
            <div class="w3-col l12 s5 w3-display-container">
                <h1 class="item-name"></h1>
                <p class="price">$</p>
                <div class="to-bottom">
                    <div class="custom-select">
            	        <select name="transport">
            		        <option value="0">Quantity</option>
            	        </select>
            	    </div>
            	</div>
            </div>
            <div class="w3-col l12 s3">
                <button id="9" class="w3-btn" onclick="removeItem(this)">Remove</button>
            </div>
        </div>
    </div>
</div>
<div id="item10" class="w3-col l4 w3-margin-bottom w3-animate-zoom">
    <div class="card w3-white my-hover-shadow">
        <div class="w3-row">
            <div class="w3-col l12 s4">
                <picture>
                    <source srcset="/static/images/shop/trainers-small.jpg" media="(max-width: 600px)" />
                    <img src="/static/images/shop/trainers.jpg" alt="trainers" style="width:100%;" />
                </picture>
            </div>
            <div class="w3-col l12 s5 w3-display-container">
                <h1 class="item-name"></h1>
                <p class="price">$</p>
                <div class="to-bottom">
                    <div class="custom-select">
            	        <select name="transport">
            		        <option value="0">Quantity</option>
            	        </select>
            	    </div>
            	</div>
            </div>
            <div class="w3-col l12 s3">
                <button id="10" class="w3-btn" onclick="removeItem(this)">Remove</button>
            </div>
        </div>
    </div>
</div>
<div id="item11" class="w3-col l4 w3-margin-bottom w3-animate-zoom">
    <div class="card w3-white my-hover-shadow">
        <div class="w3-row">
            <div class="w3-col l12 s4">
                <picture>
                    <source srcset="/static/images/shop/black-hole-small.jpg" media="(max-width: 600px)" />
                    <img src="/static/images/shop/black-hole.jpg" alt="a scarf" style="width:100%;" />
                </picture>
            </div>
            <div class="w3-col l12 s5 w3-display-container">
                <h1 class="item-name"></h1>
                <p class="price">$</p>
                <div class="to-bottom">
                    <div class="custom-select">
            	        <select name="transport">
            		        <option value="0">Quantity</option>
            	        </select>
            	    </div>
            	</div>
            </div>
            <div class="w3-col l12 s3">
                <button id="11" class="w3-btn" onclick="removeItem(this)">Remove</button>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if forth %}
<div id="item12" class="w3-col l4 w3-margin-bottom w3-animate-zoom">
    <div class="card w3-white my-hover-shadow">
        <div class="w3-row">
            <div class="w3-col l12 s4">
                <picture>
                    <source srcset="/static/images/shop/coat-small.jpg" media="(max-width: 600px)" />
                    <img src="/static/images/shop/coat.jpg" alt="a coat" style="width:100%;" />
                </picture>
            </div>
            <div class="w3-col l12 s5 w3-display-container">
                <h1 class="item-name"></h1>
                <p class="price">$</p>
                <div class="to-bottom">
                    <div class="custom-select">
            	        <select name="transport">
            		        <option value="0">Quantity</option>
            	        </select>
            	    </div>
            	</div>
            </div>
            <div class="w3-col l12 s3">
                <button id="12" class="w3-btn" onclick="removeItem(this)">Remove</button>
            </div>
        </div>
    </div>
</div>
<div id="item13" class="w3-col l4 w3-margin-bottom w3-animate-zoom">
    <div class="card w3-white my-hover-shadow">
        <div class="w3-row">
            <div class="w3-col l12 s4">
                <picture>
                    <source srcset="/static/images/shop/tie-small.jpg" media="(max-width: 600px)" />
                    <img src="/static/images/shop/tie.jpg" alt="a tie" style="width:100%;" />
                </picture>
            </div>
            <div class="w3-col l12 s5 w3-display-container">
                <h1 class="item-name"></h1>
                <p class="price">$</p>
                <div class="to-bottom">
                    <div class="custom-select">
            	        <select name="transport">
            		        <option value="0">Quantity</option>
            	        </select>
            	    </div>
            	</div>
            </div>
            <div class="w3-col l12 s3">
                <button id="13" class="w3-btn" onclick="removeItem(this)">Remove</button>
            </div>
        </div>
    </div>
</div>
<div id="item14" class="w3-col l4 w3-margin-bottom w3-animate-zoom">
    <div class="card w3-white my-hover-shadow">
        <div class="w3-row">
            <div class="w3-col l12 s4">
                <picture>
                    <source srcset="/static/images/shop/dress-small.jpg" media="(max-width: 600px)" />
                    <img src="/static/images/shop/dress.jpg" alt="a dress" style="width:100%;" />
                </picture>
            </div>
            <div class="w3-col l12 s5 w3-display-container">
                <h1 class="item-name"></h1>
                <p class="price">$</p>
                <div class="to-bottom">
                    <div class="custom-select">
            	        <select name="transport">
            		        <option value="0">Quantity</option>
            	        </select>
            	    </div>
            	</div>
            </div>
            <div class="w3-col l12 s3">
                <button id="14" class="w3-btn" onclick="removeItem(this)">Remove</button>
            </div>
        </div>
    </div>
</div>
<div id="item15" class="w3-col l4 w3-margin-bottom w3-animate-zoom">
    <div class="card w3-white my-hover-shadow">
        <div class="w3-row">
            <div class="w3-col l12 s4">
                <picture>
                    <source srcset="/static/images/shop/shirt-small.jpg" media="(max-width: 600px)" />
                    <img src="/static/images/shop/shirt.jpg" alt="a shirt" style="width:100%;" />
                </picture>
            </div>
            <div class="w3-col l12 s5 w3-display-container">
                <h1 class="item-name"></h1>
                <p class="price">$</p>
                <div class="to-bottom">
                    <div class="custom-select">
            	        <select name="transport">
            		        <option value="0">Quantity</option>
            	        </select>
            	    </div>
            	</div>
            </div>
            <div class="w3-col l12 s3">
                <button id="15" class="w3-btn" onclick="removeItem(this)">Remove</button>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if fifth %}
<div id="item16" class="w3-col l4 w3-margin-bottom w3-animate-zoom">
    <div class="card w3-white my-hover-shadow">
        <div class="w3-row">
            <div class="w3-col l12 s4">
                <picture>
                    <source srcset="/static/images/shop/trousers-small.jpg" media="(max-width: 600px)" />
                    <img src="/static/images/shop/trousers.jpg" alt="trousers" style="width:100%;" />
                </picture>
            </div>
            <div class="w3-col l12 s5 w3-display-container">
                <h1 class="item-name"></h1>
                <p class="price">$</p>
                <div class="to-bottom">
                    <div class="custom-select">
            	        <select name="transport">
            		        <option value="0">Quantity</option>
            	        </select>
            	    </div>
            	</div>
            </div>
            <div class="w3-col l12 s3">
                <button id="16" class="w3-btn" onclick="removeItem(this)">Remove</button>
            </div>
        </div>
    </div>
</div>
<div id="item17" class="w3-col l4 w3-margin-bottom w3-animate-zoom">
    <div class="card w3-white my-hover-shadow">
        <div class="w3-row">
            <div class="w3-col l12 s4">
                <picture>
                    <source srcset="/static/images/shop/rice-small.jpg" media="(max-width: 600px)" />
                    <img src="/static/images/shop/rice.jpg" alt="a bowl of rice" style="width:100%;" />
                </picture>
            </div>
            <div class="w3-col l12 s5 w3-display-container">
                <h1 class="item-name"></h1>
                <p class="price">$</p>
                <div class="to-bottom">
                    <div class="custom-select">
            	        <select name="transport">
            		        <option value="0">Quantity</option>
            	        </select>
            	    </div>
            	</div>
            </div>
            <div class="w3-col l12 s3">
                <button id="17" class="w3-btn" onclick="removeItem(this)">Remove</button>
            </div>
        </div>
    </div>
</div>
<div id="item18" class="w3-col l4 w3-margin-bottom w3-animate-zoom">
    <div class="card w3-white my-hover-shadow">
        <div class="w3-row">
            <div class="w3-col l12 s4">
                <picture>
                    <source srcset="/static/images/shop/potatoes-small.jpg" media="(max-width: 600px)" />
                    <img src="/static/images/shop/potatoes.jpg" alt="a sack of potatoes" style="width:100%;" />
                </picture>
            </div>
            <div class="w3-col l12 s5 w3-display-container">
                <h1 class="item-name"></h1>
                <p class="price">$</p>
                <div class="to-bottom">
                    <div class="custom-select">
            	        <select name="transport">
            		        <option value="0">Quantity</option>
            	        </select>
            	    </div>
            	</div>
            </div>
            <div class="w3-col l12 s3">
                <button id="18" class="w3-btn" onclick="removeItem(this)">Remove</button>
            </div>
        </div>
    </div>
</div>
<div id="item19" class="w3-col l4 w3-margin-bottom w3-animate-zoom">
    <div class="card w3-white my-hover-shadow">
        <div class="w3-row">
            <div class="w3-col l12 s4">
                <picture>
                    <source srcset="/static/images/shop/watermelon-small.jpg" media="(max-width: 600px)" />
                    <img src="/static/images/shop/watermelon.jpg" alt="a watermelon" style="width:100%;" />
                </picture>
            </div>
            <div class="w3-col l12 s5 w3-display-container">
                <h1 class="item-name"></h1>
                <p class="price">$</p>
                <div class="to-bottom">
                    <div class="custom-select">
            	        <select name="transport">
            		        <option value="0">Quantity</option>
            	        </select>
            	    </div>
            	</div>
            </div>
            <div class="w3-col l12 s3">
                <button id="19" class="w3-btn" onclick="removeItem(this)">Remove</button>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if sixth %}
<div id="item20" class="w3-col l4 w3-margin-bottom w3-animate-zoom">
    <div class="card w3-white my-hover-shadow">
        <div class="w3-row">
            <div class="w3-col l12 s4">
                <img src="/static/images/shop/life.jpg" alt="an year of life" style="width:100%;" />
            </div>
            <div class="w3-col l12 s5 w3-display-container">
                <h1 class="item-name"></h1>
                <p class="price">$</p>
                <div class="to-bottom">
                    <div class="custom-select">
            	        <select name="transport">
            		        <option value="0">Quantity</option>
            	        </select>
            	    </div>
            	</div>
            </div>
            <div class="w3-col l12 s3">
                <button id="20" class="w3-btn" onclick="removeItem(this)">Remove</button>
            </div>
        </div>
    </div>
</div>
<div id="item21" class="w3-col l4 w3-margin-bottom w3-animate-zoom">
    <div class="card w3-white my-hover-shadow">
        <div class="w3-row">
            <div class="w3-col l12 s4">
                <picture>
                    <source srcset="/static/images/shop/travel-small.jpg" media="(max-width: 600px)" />
                    <img src="/static/images/shop/travel.jpg" alt="space travel" style="width:100%;" />
                </picture>
            </div>
            <div class="w3-col l12 s5 w3-display-container">
                <h1 class="item-name"></h1>
                <p class="price">$</p>
                <div class="to-bottom">
                    <div class="custom-select">
            	        <select name="transport">
            		        <option value="0">Quantity</option>
            	        </select>
            	    </div>
            	</div>
            </div>
            <div class="w3-col l12 s3">
                <button id="21" class="w3-btn" onclick="removeItem(this)">Remove</button>
            </div>
        </div>
    </div>
</div>
<div id="item22" class="w3-col l4 w3-margin-bottom w3-animate-zoom">
    <div class="card w3-white my-hover-shadow">
        <div class="w3-row">
            <div class="w3-col l12 s4">
                <picture>
                    <source srcset="/static/images/shop/rain-small.jpg" media="(max-width: 600px)" />
                    <img src="/static/images/shop/rain.jpg" alt="rain" style="width:100%;" />
                </picture>
            </div>
            <div class="w3-col l12 s5 w3-display-container">
                <h1 class="item-name"></h1>
                <p class="price">$</p>
                <div class="to-bottom">
                    <div class="custom-select">
            	        <select name="transport">
            		        <option value="0">Quantity</option>
            	        </select>
            	    </div>
            	</div>
            </div>
            <div class="w3-col l12 s3">
                <button id="22" class="w3-btn" onclick="removeItem(this)">Remove</button>
            </div>
        </div>
    </div>
</div>
<div id="item23" class="w3-col l4 w3-margin-bottom w3-animate-zoom">
    <div class="card w3-white my-hover-shadow">
        <div class="w3-row">
            <div class="w3-col l12 s4">
                <picture>
                    <source srcset="/static/images/shop/ice-small.jpg" media="(max-width: 600px)" />
                    <img src="/static/images/shop/ice.jpg" alt="ice cubes" style="width:100%;" />
                </picture>
            </div>
            <div class="w3-col l12 s5 w3-display-container">
                <h1 class="item-name"></h1>
                <p class="price">$</p>
                <div class="to-bottom">
                    <div class="custom-select">
            	        <select name="transport">
            		        <option value="0">Quantity</option>
            	        </select>
            	    </div>
            	</div>
            </div>
            <div class="w3-col l12 s3">
                <button id="23" class="w3-btn" onclick="removeItem(this)">Remove</button>
            </div>
        </div>
    </div>
</div>
{% endif %}