                    <div id="part8" style="display:none;">
                        <div class="w3-row-padding animate-bottom">
                            <div class="w3-col l3 m6 w3-margin-bottom">
                                <div class="card w3-white my-hover-shadow">
                                    <img src="/static/images/shop/socks.jpg" alt="socks" onload="loadedImgs++;IMG_COUNTER.click();" style="width:100%">
                                    <h1></h1>
                                    <p class="price">$</p>
                                    <p class="my-tiny-padding">These socks will fit everyone, wash itself and never have holes. Buying two, the third one will be free.</p>
                                    <button id="8" class="w3-btn" onclick="changeBtn(this)">Add to Cart</button>
                                </div>
                            </div>
                            <div class="w3-col l3 m6 w3-margin-bottom">
                                <div class="card w3-white my-hover-shadow">
                                    <img src="/static/images/shop/hat.jpg" alt="hat" onload="loadedImgs++;IMG_COUNTER.click();" style="width:100%">
                                    <h1></h1>
                                    <p class="price">$</p>
                                    <p class="my-tiny-padding">Nowdays this hat is in vogue, because it is pretty comfy and cheap.</p>
                                    <button id="9" class="w3-btn" onclick="changeBtn(this)">Add to Cart</button>
                                </div>
                            </div>
                            <div class="w3-col l3 m6 w3-margin-bottom">
                                <div class="card w3-white my-hover-shadow">
                                    <img src="/static/images/shop/trainers.jpg" alt="trainers" onload="loadedImgs++;IMG_COUNTER.click();" style="width:100%">
                                    <h1></h1>
                                    <p class="price">$</p>
                                    <p class="my-tiny-padding">If you are a sport enthusiast you must have a pair of trainers. These ones are a good fit.</p>
                                    <button id="10" class="w3-btn" onclick="changeBtn(this)">Add to Cart</button>
                                </div>
                            </div>
                            <div class="w3-col l3 m6 w3-margin-bottom">
                                <div class="card w3-white my-hover-shadow">
                                    <img src="/static/images/shop/black-hole.jpg" alt="black hole" onload="loadedImgs++;IMG_COUNTER.click();" style="width:100%">
                                    <h1></h1>
                                    <p class="price">$</p>
                                    <p class="my-tiny-padding">You can get your own domestic black hole as a good alternitive to an accustomed hoover</p>
                                    <button id="11" class="w3-btn" onclick="changeBtn(this)">Add to Cart</button>
                                </div>
                            </div>
                        </div>
                        <div class="w3-row-padding">
                            <div class="w3-col l3 m6 w3-margin-bottom">
                                <div class="card w3-white my-hover-shadow">
                                    <img src="/static/images/shop/coat.jpg" alt="coat" onload="loadedImgs++;IMG_COUNTER.click();" style="width:100%">
                                    <h1></h1>
                                    <p class="price">$</p>
                                    <p class="my-tiny-padding">The design is characterized by clean lines, soft touch. Crafted on the Moon</p>
                                    <button id="12" class="w3-btn" onclick="changeBtn(this)">Add to Cart</button>
                                </div>
                            </div>
                            <div class="w3-col l3 m6 w3-margin-bottom">
                                <div class="card w3-white my-hover-shadow">
                                    <img src="/static/images/shop/tie.jpg" alt="tie" onload="loadedImgs++;IMG_COUNTER.click();" style="width:100%">
                                    <h1></h1>
                                    <p class="price">$</p>
                                    <p class="my-tiny-padding">This 100% cotton necktie is the perfect addition to your summer wardrobe.</p>
                                    <button id="13" class="w3-btn" onclick="changeBtn(this)">Add to Cart</button>
                                </div>
                            </div>
                            <div class="w3-col l3 m6 w3-margin-bottom">
                                <div class="card w3-white my-hover-shadow">
                                    <img src="/static/images/shop/dress.jpg" alt="dress" onload="loadedImgs++;IMG_COUNTER.click();" style="width:100%">
                                    <h1></h1>
                                    <p class="price">$</p>
                                    <p class="my-tiny-padding">Fully lined, imported, perfect length, light and soft hand-feel fabric.</p>
                                    <button id="14" class="w3-btn" onclick="changeBtn(this)">Add to Cart</button>
                                </div>
                            </div>
                            <div class="w3-col l3 m6 w3-margin-bottom">
                                <div class="card w3-white my-hover-shadow">
                                    <img src="/static/images/shop/shirt.jpg" alt="shirt" onload="loadedImgs++;IMG_COUNTER.click();" style="width:100%">
                                    <h1></h1>
                                    <p class="price">$</p>
                                    <p class="my-tiny-padding">Breathable & light feel, flex collar. Designed and crafted in Paris. Shipped Worldwide.</p>
                                    <button id="15" class="w3-btn" onclick="changeBtn(this)">Add to Cart</button>
                                </div>
                            </div>
                        </div>
                        <div class="part16 loader"></div>
                    </div>