                    <div id="part16" style="display:none;">
                        <div class="w3-row-padding animate-bottom">
                            <div class="w3-col l3 m6 w3-margin-bottom">
                                <div class="card w3-white my-hover-shadow">
                                    <img src="/static/images/shop/trousers.jpg" alt="trousers" onload="loadedImgs++;IMG_COUNTER.click();" style="width:100%">
                                    <h1></h1>
                                    <p class="price">$</p>
                                    <p class="my-tiny-padding">100% Polyester. Flat front, finished hem, partially lined, light and comfortable.</p>
                                    <button id="16" class="w3-btn" onclick="changeBtn(this)">Add to Cart</button>
                                </div>
                            </div>
                            <div class="w3-col l3 m6 w3-margin-bottom">
                                <div class="card w3-white my-hover-shadow">
                                    <img src="/static/images/shop/rice.jpg" alt="a bowl of rice" onload="loadedImgs++;IMG_COUNTER.click();" style="width:100%">
                                    <h1></h1>
                                    <p class="price">$</p>
                                    <p class="my-tiny-padding">This delicious rice pudding will give you a pleasant and unforgettable feeling.</p>
                                    <button id="17" class="w3-btn" onclick="changeBtn(this)">Add to Cart</button>
                                </div>
                            </div>
                            <div class="w3-col l3 m6 w3-margin-bottom">
                                <div class="card w3-white my-hover-shadow">
                                    <img src="/static/images/shop/potatoes.jpg" alt="a sack of potatoes" onload="loadedImgs++;IMG_COUNTER.click();" style="width:100%">
                                    <h1></h1>
                                    <p class="price">$</p>
                                    <p class="my-tiny-padding">If you do not want to go out for a month, buy this and you will not be hungry.</p>
                                    <button id="18" class="w3-btn" onclick="changeBtn(this)">Add to Cart</button>
                                </div>
                            </div>
                            <div class="w3-col l3 m6 w3-margin-bottom">
                                <div class="card w3-white my-hover-shadow">
                                    <img src="/static/images/shop/watermelon.jpg" alt="watermelon" onload="loadedImgs++;IMG_COUNTER.click();" style="width:100%">
                                    <h1></h1>
                                    <p class="price">$</p>
                                    <p class="my-tiny-padding">Fresh, succulent and giant watermelon. Florida grown, seeded or seedless. Ideal thing for summer days.</p>
                                    <button id="19" class="w3-btn" onclick="changeBtn(this)">Add to Cart</button>
                                </div>
                            </div>
                        </div>
                        <div class="w3-row-padding">
                            <div class="w3-col l3 m6 w3-margin-bottom">
                                <div class="card w3-white my-hover-shadow">
                                    <img src="/static/images/shop/life.jpg" alt="an year of life" onload="loadedImgs++;IMG_COUNTER.click();" style="width:100%">
                                    <h1></h1>
                                    <p class="price">$</p>
                                    <p class="my-tiny-padding">If you want to live some extra years, there is a possible solution for that. Just buy a few ones here.</p>
                                    <button id="20" class="w3-btn" onclick="changeBtn(this)">Add to Cart</button>
                                </div>
                            </div>
                            <div class="w3-col l3 m6 w3-margin-bottom">
                                <div class="card w3-white my-hover-shadow">
                                    <img src="/static/images/shop/travel.jpg" alt="space travel" onload="loadedImgs++;IMG_COUNTER.click();" style="width:100%">
                                    <h1></h1>
                                    <p class="price">$</p>
                                    <p class="my-tiny-padding">According to the Einstein's theory, if you want to live a way longer than others, you need to move at a light speed.</p>
                                    <button id="21" class="w3-btn" onclick="changeBtn(this)">Add to Cart</button>
                                </div>
                            </div>
                            <div class="w3-col l3 m6 w3-margin-bottom">
                                <div class="card w3-white my-hover-shadow">
                                    <img src="/static/images/shop/rain.jpg" alt="rain" onload="loadedImgs++;IMG_COUNTER.click();" style="width:100%">
                                    <h1></h1>
                                    <p class="price">$</p>
                                    <p class="my-tiny-padding">If you feel hot, just order the rain at any time. Fast delivering of fresh ocean water is guaranteed.</p>
                                    <button id="22" class="w3-btn" onclick="changeBtn(this)">Add to Cart</button>
                                </div>
                            </div>
                            <div class="w3-col l3 m6 w3-margin-bottom">
                                <div class="card w3-white my-hover-shadow">
                                    <img src="/static/images/shop/ice.jpg" alt="ice cubes" onload="loadedImgs++;IMG_COUNTER.click();" style="width:100%">
                                    <h1></h1>
                                    <p class="price">$</p>
                                    <p class="my-tiny-padding">If there is a need to chill something it is the best thing. ALso you can add a few cubes into the tea for feeling refresh.</p>
                                    <button id="23" class="w3-btn" onclick="changeBtn(this)">Add to Cart</button>
                                </div>
                            </div>
                        </div>
                    </div>